{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_more_posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    {{if auth.user_id:}}
        <!--ADD POST BUTTON-->
        <div class="text-right">
            <button v-if="add_post_button.display"
                    class="btn btn-danger btn-sm mybtn-width"
                    v-on:click="button_toggle(add_post_button)">
            {{=icon_add}} Add new post
            </button>
            <button v-if="!add_post_button.display"
                    class="btn btn-warning btn-sm mybtn-width"
                    v-on:click="button_toggle(add_post_button)">
            {{=icon_cancel}} Cancel
            </button>
        </div>

        <!--ADD POST FORM-->
        <!--The textarea to add a new post, and its 'Post' button, should be in a div with id add-new-post.
            The post button should say "Post" and have class post-button. -->
        <form id="add-new-post" v-on:submit.prevent="add_post" action="#" enctype="multipart/form-data" method="post"
              v-if="!add_post_button.display">
            <div class="form-group text-right" id="submit_record__row">
                <input class="btn btn-primary btn-sm post-button mybtn-width" type="submit" value="Post"/>
                <span class="help-block"></span>
            </div>
            <div class="form-group" id="post_post_title__row">
                <label class="control-label"
                       for="post_post_title"
                       id="post_post_title__label">
                    Post Title</label>
                <input v-model="form_title" class="form-control string" id="post_post_title" name="post_title"
                       type="text" value=""/>
                <span class="help-block"></span>
            </div>
            <div class="form-group" id="post_post_content__row">
                <label class="control-label" for="post_post_content"
                       id="post_post_content__label">
                    Post Content</label>
                <textarea v-model="form_content" class="text form-control" cols="40" id="post_post_content"
                          name="post_content"
                          rows="10"></textarea>
                <span class="help-block"></span>
            </div>
        </form>
    {{pass}}


        <!--POSTS Listing-->
        <div class="post_list">
            <div v-for="p in posts" class="post text-left">
                <post :title="p.title" :content="p.content" :author="p.author" :date_created="p.date_created"
                      :date_updated="p.date_updated"></post>
            </div>
        </div>
        <div v-if="has_more" class="text-center">
            <button id="load_more" class="btn btn-default btn-sm mybtn-width" v-on:click="get_more()">Load more</button>
        </div>


    </div>
</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>