/* line 1, ../sass/_main.scss */
.mybtn-width {
  width: 120px;
}

/* line 5, ../sass/_main.scss */
.post_listing {
  margin: 5px 0px 10px 0px;
  padding: 0 0 0 0px;
}

/* line 10, ../sass/_main.scss */
.post_list {
  padding-top: 10px;
  width: 500px;
  margin: 20px auto;
}
/* line 14, ../sass/_main.scss */
.post_list .post {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  background: #eeeeee;
  margin: 5px 0px 5px 0px;
  padding: 10px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
/* line 22, ../sass/_main.scss */
.post_list .post .post_title {
  color: #9d1e15;
  font-weight: 300;
  font-size: 25px;
  font-family: 'Coiny', cursive;
}
/* line 28, ../sass/_main.scss */
.post_list .post .post_content {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-weight: 100;
  color: #001f3f;
}
/* line 34, ../sass/_main.scss */
.post_list .post .meta {
  font-family: 'Josefin Sans', sans-serif;
  width: 30%;
  text-align: left;
  color: #1b8dbb;
  display: inline-block;
}
/* line 41, ../sass/_main.scss */
.post_list .post .edit_icon {
  display: inline-block;
  float: right;
  color: #303030;
  text-shadow: 1px 1px 1px #ccc;
}
/* line 46, ../sass/_main.scss */
.post_list .post .edit_icon .icon {
  margin: 4px;
}
