.mybtn-width{
  width: 120px;
}


.post_listing {
  margin: 5px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.post_list {
  padding-top: 10px;
  width: 500px;
  margin: 20px auto;
  .post {
    border-color: $clrPostBorder;
    border-style: solid;
    border-width: 1px;
    background: $clrPostBackground;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    @include border-radius(16px);
    .post_title {
      color: #9d1e15;
      font-weight: 300;
      font-size: 25px;
      font-family: 'Coiny', cursive;
    }
    .post_content {
      font-family: 'Indie Flower', cursive;
      font-size: 18px;
      font-weight: 100;
      color: #001f3f;
    }
    .meta {
      font-family: 'Josefin Sans', sans-serif;
      width: 30%;
      text-align: left;
      color: #1b8dbb;
      display: inline-block;
    }
    .edit_icon {
      float: right;
      color: #303030;
      text-shadow: 1px 1px 1px #ccc;
    }
  }
}
